portainer.kakk.dev {
	# also uses localhost:8000
	reverse_proxy localhost:9000
}

plausible.kakk.dev {
	reverse_proxy localhost:8001
}

immich.kakk.dev {
	reverse_proxy localhost:2283
}

status.kakk.dev {
	reverse_proxy localhost:8011
}

strapi.orkide.world {
	reverse_proxy localhost:1337
}

lb-strapi.kakk.dev {
	reverse_proxy localhost:1338
}

strapi.localbloom.no {
	reverse_proxy localhost:1338
}

coolify.kakk.dev {
	reverse_proxy localhost:3000
}

juleweb.kakk.dev {
	reverse_proxy localhost:8012
}

zvanzflask.kakk.dev {
	reverse_proxy localhost:8013
}

kakk.dev {
	handle_path / {
		redir https://kakka.dev
	}
	respond 404
}

files.kakk.dev {
	root * /srv/www/files
	file_server
}

#router.kakk.dev {
#   reverse_proxy {
#	to http://192.168.0.1
#	header_up Host 192.168.0.1
#	header_up User-Agent "Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/91.0.4472.124 Safari/537.36"
#	header_up -X-Forwarded-For
#	header_up -X-Forwarded-Host
#	header_up -X-Forwarded-Proto
#    }
#}
